*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* BOddy */
body{
    padding: 30px;
    scroll-behavior: smooth;
}

/* Title */
.title{
    margin-top: 10px;
    text-align: center;
}
.subtitle{
    margin: 10px 0px;
    text-align: center;
}

/* Header */
.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}
.menu > a{
    text-decoration: none;
    padding: 10px 50px;
}
.menu-triangle{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 0px;
    text-align: center;
    border-radius: 4px;
}

/* Main Content */
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Card */
.card{
    border: 1px blue solid;
    padding: 20px;
    align-items: center;
}
.card hr{
    margin: 30px 0px 30px;
}

/* image */
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}.img img{
    height: 300px;
}

/* Rumus Text */
.text-rumus p{
    text-align: center;
    font-weight: bold;
}

/* form triangle */
.triangle{
    gap: 20px;
}
.form-triangle{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.form-triangle > input{
    padding: 8px 4px;
    border-radius: 6px;
    width: 100%;
}

.button-triangle{
    padding: 6px 8px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
}

/* form paralellogram */
.form-paralellogram{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.form-paralellogram > input{
    padding: 8px 4px;
    border-radius: 6px;
    width: 100%;
}
.button-paralellogram{
    padding: 6px 8px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
}

/* card result  */
.card-result{
    position: relative;
    align-items: end;
    border: 3px blue solid;
    padding: 8px 20px;
}